.header {
  background-image: url('https://i.gifer.com/nNe.gif');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-clip: inherit;
}

.h1-header {
  color: #fff;
  display: flex;
  font-size: 3em;
}
